<ion-view title="Ajustes" id="page10">
  <ion-content padding="true" class="has-header">
    <ion-list id="ajustes-list8">
      <ion-item class="item-icon-left" id="ajustes-list-item21">
        <i class="icon ion-person"></i>Perfil</ion-item>
      <ion-item class="item-icon-left" id="ajustes-list-item22" ui-sref="tabsController.mTodoDePago()">
        <i class="icon ion-card"></i>Pago</ion-item>
      <ion-item class="item-icon-left" id="ajustes-list-item18">
        <i class="icon ion-settings"></i>General</ion-item>
      <ion-item class="item-icon-left" id="ajustes-list-item19">
        <i class="icon ion-document-text"></i>Aviso de privacidad</ion-item>
      <ion-item class="item-icon-left assertive" id="ajustes-list-item17" ui-sref="iniciarSesiN()">
        <i class="icon ion-power"></i>Cerrar sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-view>