<ion-view title="Carrito" id="page9">
  <ion-content padding="true" class="has-header">
    <ion-list id="carrito-list5">
      <ion-item id="carrito-list-item4">Leche Lala 1L
        <span class="item-note">$15.75</span>
        <ion-option-button class="button-assertive">Borrar</ion-option-button>
      </ion-item>
      <ion-item id="carrito-list-item8">Pech de P San Raf 300gr
        <span class="item-note">$61.20</span>
        <ion-option-button class="button-assertive">Borrar</ion-option-button>
      </ion-item>
      <ion-item id="carrito-list-item9">Pan Blanco Bimbo Gde
        <span class="item-note">$31.50</span>
        <ion-option-button class="button-assertive">Borrar</ion-option-button>
      </ion-item>
      <ion-item id="carrito-list-item10">Lata Atún Dolores (2)
        <span class="item-note">$21.60</span>
        <ion-option-button class="button-assertive">Borrar</ion-option-button>
      </ion-item>
      <ion-item id="carrito-list-item11">Bacardí Blanco 750 mL
        <span class="item-note">$171.93</span>
        <ion-option-button class="button-assertive">Borrar</ion-option-button>
      </ion-item>
      <ion-item class="item-divider" id="carrito-list-item-divider1"> Total</ion-item>
    </ion-list>
    <ion-list id="carrito-list6">
      <ion-item class="item-icon-left" id="carrito-list-item12">
        <i class="icon ion-cash"></i>301.98
        <span class="item-note">MXN</span>
      </ion-item>
    </ion-list>
    <button id="carrito-button4" style="font-weight:600;font-size:24px;" class="button button-balanced button-block">Pagar</button>
  </ion-content>
</ion-view>