<ion-view title="Crear cuenta" id="page12">
  <ion-content padding="true" class="has-header">
    <form id="crearCuenta-form2" class="list">
      <ion-list id="crearCuenta-list2">
        <label class="item item-input" id="crearCuenta-input3">
          <span class="input-label">Nombre</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="crearCuenta-input4">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="crearCuenta-input5">
          <span class="input-label">Contraseña</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="tabsController.escanear()" id="crearCuenta-button3" class="button button-stable button-block">Crear cuenta</a>
    </form>
  </ion-content>
</ion-view>