<ion-view title="Escanear" hide-nav-bar="true" id="page8">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
    <div>
      <img src="img/HOaAZd3zRMezjUpQgvSj_scan.png" style="display: block; width: 100%; height: 100%; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>