<ion-view title="Iniciar sesión" hide-back-button="true" id="page11">
  <ion-content padding="true" class="has-header">
    <form id="iniciarSesiN-form1" class="list">
      <div>
        <img src="img/kpDwMiQeT9iX3VVRAulg_prestoLogo.jpg" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 23px;"></div>
      <ion-list id="iniciarSesiN-list1">
        <label class="item item-input" id="iniciarSesiN-input1">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="iniciarSesiN-input2">
          <span class="input-label">Contraseña</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="tabsController.escanear()" id="iniciarSesiN-button1" class="button button-stable button-block">Iniciar Sesión</a>
      <a ui-sref="crearCuenta()" id="iniciarSesiN-button2" class="button button-positive button-block button-clear">O crear una cuenta</a>
    </form>
  </ion-content>
</ion-view>