<ion-view title="Lista" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="lista-form3" class="list">
      <label class="item item-input" id="lista-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Buscar en lista">
      </label>
    </form>
    <ion-list id="lista-list4">
      <ion-checkbox id="lista-checkbox3">Huevo</ion-checkbox>
      <ion-checkbox id="lista-checkbox2">Leche</ion-checkbox>
      <ion-checkbox id="lista-checkbox4">Jamón</ion-checkbox>
      <ion-checkbox id="lista-checkbox5">Cereal</ion-checkbox>
      <ion-checkbox id="lista-checkbox6" name="Pan">Pan</ion-checkbox>
      <ion-checkbox id="lista-checkbox8">Cebolla</ion-checkbox>
      <ion-checkbox id="lista-checkbox7" name="Queso">Queso</ion-checkbox>
      <ion-checkbox id="lista-checkbox10">Pimientos</ion-checkbox>
      <ion-checkbox id="lista-checkbox11">Papa</ion-checkbox>
      <ion-checkbox id="lista-checkbox9">Champiñones</ion-checkbox>
    </ion-list>
  </ion-content>
</ion-view>