<ion-view title="Mapa" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="mapa-form6" class="list">
      <label class="item item-input" id="mapa-search3">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Buscar producto">
      </label>
    </form>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider3" delegate-handle="slider3" id="mapa-slider3" style="width:100%;height:100px;">
      <ion-slide-page id="mapa-slide214" style="background:url(&quot;img/HKbn9JlSEOyZ3nCaB0Tw_carnesf.jpg&quot;) no-repeat center;background-size:cover;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <h1 id="mapa-heading1" style="color:#FFFFFF;font-weight:600;text-align:center;">Carnes</h1>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="mapa-slide216" style="background:url(&quot;img/vXR6TPXSRpCUPh6FxMnk_fyv.jpg&quot;) no-repeat center;background-size:cover;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <h2 id="mapa-heading2" style="color:#FFFFFF;font-weight:600;text-align:center;">Frutas y verduras</h2>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="mapa-slide218" style="background:url(&quot;img/DmVWpk9RSXeYjqylYuQP_farma.jpg&quot;) no-repeat center;background-size:cover;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <h1 id="mapa-heading3" style="color:#FFFFFF;font-weight:600;text-align:center;">Farmacia</h1>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="mapa-slide220" style="background:url(&quot;img/47VrPEstQ1KJUCMGf1PL_pan.jpg&quot;) no-repeat center;background-size:cover;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <h1 id="mapa-heading5" style="color:#FFFFFF;font-weight:600;text-align:center;">Panadería</h1>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="mapa-slide222" style="background:url(&quot;img/2uFiZmJ8Q22KVT4dpLXZ_hogar.jpg&quot;) no-repeat center;background-size:cover;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <h1 id="mapa-heading7" style="color:#FFFFFF;font-weight:600;text-align:center;">Hogar</h1>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="mapa-slide223" style="background:url(&quot;img/DjYXzmKoTRy7Iw8sC64F_licores.jpg&quot;) no-repeat center;background-size:cover;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <h2 id="mapa-heading8" style="color:#FFFFFF;font-weight:600;text-align:center;">Vinos y licores</h2>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="mapa-slide224" style="background:url(&quot;img/GRnSbu15SMy9Gcoj0GgQ_electronicos.jpg&quot;) no-repeat center;background-size:cover;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <h1 id="mapa-heading9" style="color:#FFFFFF;font-weight:600;text-align:center;">Electrónicos</h1>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
    <div class="spacer" style="width: 300px; height: 28px;"></div>
    <div>
      <img src="img/pxIDXwH0RCpSOwi6bYRy_superMapa.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>