<ion-view title="Método de pago" id="page13">
  <ion-content padding="true" class="has-header">
    <form id="mTodoDePago-form8" class="list">
      <label class="item item-input item-stacked-label" id="mTodoDePago-input8">
        <span class="input-label">Numero de tarjeta</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="mTodoDePago-input9">
        <span class="input-label">Fecha de vencimiento</span>
        <input type="month" placeholder="Fecha de vencimiento">
      </label>
      <label class="item item-input item-stacked-label" id="mTodoDePago-input10">
        <span class="input-label">Código de seguridad</span>
        <input type="number" placeholder="">
      </label>
    </form>
    <a ui-sref="tabsController.ajustes()" id="mTodoDePago-button5" class="button button-balanced button-block">Guardar</a>
  </ion-content>
</ion-view>