<ion-view id="page1">
  <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Lista" icon="ion-ios-list" href="#/page1/page6" id="tabsController-tab5">
      <ion-nav-view name="tab5"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Mapa" icon="ion-map" href="#/page1/page7" id="tabsController-tab6">
      <ion-nav-view name="tab6"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Escanear" icon="ion-ios-camera" href="#/page1/page8" id="tabsController-tab7">
      <ion-nav-view name="tab7"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Carrito" icon="ion-ios-cart" href="#/page1/page9" id="tabsController-tab8">
      <ion-nav-view name="tab8"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Ajustes" icon="ion-android-settings" href="#/page1/page10" id="tabsController-tab9">
      <ion-nav-view name="tab9"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>